body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#trash-can-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.trash-can {
    width: 80px;
    height: 80px;
    background-color: #d3d3d3;
    border-radius: 10px;
}

#drag-elements {
    display: flex;
    justify-content: space-around;
}

.draggable {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#points {
    font-size: 18px;
    font-weight: bold;
    color: #007BFF;
}
